.landingView{
    background: linear-gradient(rgba(105, 104, 101, 0.7), rgba(65, 61, 61, 1.5)), url(../../assets/images/view.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.logo{
    font-size: 30px
}
.slogan{
    margin-top: 0rem;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15vh;
}

.subtext{
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 25px;
}

.signUpBtn{
    color: #ffffff;
    font-weight: 600;
    background: rgb(255,173,0);
    border: 1px solid rgb(255,173,0);
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
}

.signUpBtn:hover{
    background: #ffffff;
    color: rgb(255,173,0);
    border: none;
}

.socials{
    color: #ffffff;
    font-size: 22px;

}

@media(max-width: 425px){
    .slogan{
        font-size: 28px;
    }
    .subtext{
        width: 90%;
    }
}