
.socials{
    background: rgb(71, 70, 70);
    margin-top: 3em;
}

.teamRef{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-left: 10px;
}